<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/navbar') %>
<div class="container">
    <h1>Features</h1>
    <div id="app">
        <form @submit.prevent="addServer">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input v-model="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group form-check">
                <input v-model="working" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">work</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="spinner-border" role="status" v-if="!servers.length"></div>
        <ul class="list-group" v-else>
            <li class="list-group-item" v-for="server in servers" @click="remove(server.id)">
                <div> {{server.name }}  {{ server.status }}     </div>

            </li>


        </ul>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="/app.js"></script>
</body>
</html>